<%= button_to "Go Back", {:controller => :entries, :action => :index}.merge(:order => controller.params[:order]), :method => :get, :remote => true, :class => "goBackButton" %>
<%= form_for current_user, :url => {:controller => :entries, :action => :update}.merge(:order => controller.params[:order]), :method => :post, :remote => true do |f| %>
<table>
  <th>
    <tr>
      <td><%= link_to "Entries", edit_entries_path(:order => "body"), :remote => true %></td>
      <td><%= link_to "Priority", edit_entries_path(:order => "priority desc"), :remote => true %></td>
      <td><%= link_to "Due Date", edit_entries_path(:order => "due_date desc"), :remote => true %></td>
      <td>Completed?</td>
      <td></td>
    </tr>
  </th>
  <tbody>
    <%= f.fields_for :entries, @entries do |e| %>
    <tr>
      <td>
        <%= e.text_field :body %>
      </td>
      <td>
        <%= e.text_field :priority %>
      </td>
      <td>
        <%= e.text_field :due_date %>
      </td>
      <td>
        <%= e.check_box :completed %>
      </td>
      <td>
        <button type="button" class="delButton">Delete</button>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= f.submit "Save List" %>
<button type="button" id="addButton">Add Item</button>
<% end %>
