<table>
  <th>
    <tr>
      <td><%= link_to "Entries", entries_path(:order => "body") %></td>
      <td><%= link_to "Priority", entries_path(:order => "priority desc") %></td>
      <td><%= link_to "Due Date", entries_path(:order => "due_date desc") %></td>
      <td></td>
    </tr>
  </th>
  <tbody>
    <% @entries.each do |entry| %>
    <tr>
      <td>
        <%= entry.body %>
      </td>
      <td>
        <%= entry.priority %>
      </td>
      <td>
        <%= entry.due_date %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= button_to "Edit", edit_entries_path, :method => :get %>
