<%= form_for current_user, :url => {:controller => :entries, :action => :update}, :method => :post, :remote => true, :html => {:id => "indexForm"} do |f| %>
  <table>
    <th>
      <tr>
        <td><%= link_to "Entries", entries_path(:order => "body") %></td>
        <td><%= link_to "Priority", entries_path(:order => "priority desc") %></td>
        <td><%= link_to "Due Date", entries_path(:order => "due_date desc") %></td>
        <td>Completed?</td>
      </tr>
    </th>
    <tbody>
      <%= f.fields_for :entries, @entries do |entry_form| %>
      <% entry = entry_form.object %>
      <tr>
        <td>
          <%= entry.body %>
        </td>
        <td>
          <%= entry.priority %>
        </td>
        <td>
          <%= entry.due_date %>
        </td>
        <td>
          <%= entry_form.check_box "completed" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= button_to "Edit", edit_entries_path, :method => :get %>
